body {
    background-color:darkseagreen;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border: 2px solid lightgoldenrodyellow;
    border-radius: 10px;
}

p span {
    font-style: italic;
}

span:last-child {
    text-decoration: underline;
}

main article {
    display:flex;
}

#IntroText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin-bottom: 50px;
}

.SpecialClass {
    font-style: inherit;
    color: red;
}

.Description {
    font-size: 24px;
}

.Description2 {
    font-size: 32px;
}

.Ingredients {
    font-size: 12;
    background-color: beige;
    width: 300px;
    list-style:square;
    padding-right: 5px;
    margin-right: 15px;
}

.ToDo {
    font-size: 18;
    background-color: bisque;
    width: 300px;
    list-style-type: lower-roman;
    padding-right: 5px;
    margin-right: 5px;
}