body {
    background-color:darkseagreen;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: green;
}

/* The following removes the list style (the list bullet points */
/* It also removes the blank space (padding) to the surrounding box */
/* display:flex puts all items in a row instead of a column */

nav ul {
    list-style: none;
    padding-left: 0;
    display:flex;
}

nav li {
    margin: 0 10px;
    font-size: 30px;
    background-color: green;
    color: lightgoldenrodyellow;
}

nav li:hover {
    background-color: darkseagreen;
    color: green;
}

nav li a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    display:block;
    padding: 0 10px;
}

nav li a:hover {
    text-decoration: none;
    color: white;
    display:block;
    padding: 0 10px;
}

main section img {
    width: 500px;
    height: auto;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 10px;
}

p span {
    font-style: italic;
}

span:last-child {
    text-decoration: underline;
}

main article {
    display:flex;
}

#intro {
    text-align: center;
}

#blog-text {
    width: 50%;
}

#IntroText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin-bottom: 50px;
}

.SpecialClass {
    font-style: inherit;
    color: red;
}

.Description {
    font-size: 24px;
}

.Description2 {
    font-size: 32px;
}

.Ingredients {
    font-size: 12;
    background-color: beige;
    list-style:square;
}

.ToDo {
    font-size: 18;
    background-color: bisque;
    list-style-type: lower-roman;
}