* {
    box-sizing: border-box;
}


@media screen and (min-width: 751px) {
    body{
    background-color:darkseagreen;
    }
  }
 
 @media screen and (min-width: 401px) and (max-width: 750px) {
    body{
    background-color: lavenderblush;
    }
 }
 
 @media screen and (max-width: 400px) {
    body{
    background-color: lavender;   
    }
 }

h1 {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    padding-bottom: 30px;
    color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav, footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: green;
}

footer p {
    padding-left: 20px;
}

/* The following removes the list style (the list bullet points */
/* It also removes the blank space (padding) to the surrounding box */
/* display:flex puts all items in a row instead of a column */

nav ul {
    list-style: none;
    padding-left: 0;
    display:flex;
    margin-top: 0;
}

nav li {
    margin: 0 10px;
    font-size: 30px;
    background-color: green;
    color: lightgoldenrodyellow;
}

nav li:hover {
    background-color: darkseagreen;
    color: green;
}

nav li a {
    text-decoration: none;
    color: lightgoldenrodyellow;
    display:block;
    padding: 0 10px;
}

nav li a:hover {
    text-decoration: none;
    color: white;
    display:block;
    padding: 0 10px;
}

main section img {
    width: 500px;
    height: auto;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 10px;
}

p span {
    font-style: italic;
}

span:last-child {
    text-decoration: underline;
}

main article {
    display:flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    margin: 20px;
}

#intro {
    text-align: center;
}

#blog-text {
    width: 50%;
    font-size: 25px;
    margin-right: 20px;
}

#blog-text p:first-child {
    margin-bottom: 50px;
}

#lower-image {
    text-align: center;
}

#lower-image img {
    width: 25%;
    height: auto;
}

.card {
    width: 500px;
    background-color: lightgoldenrodyellow;
    border: 0.5px solid green;
    border-radius: 5px;
    padding-bottom: 2px;
    margin-bottom: 25px;
}

.card h4 {
    text-align: center;
}

.card ul li {
    font-size: 18px;
    list-style: square;
}

.card ol li {
    font-size: 18px;
    list-style: lower-roman;
}